<%- include header %>
<% posts.forEach(function (post, index) { %>
    <h2 class="major">
        <a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">
            <%= post.title %>
        </a>
    </h2>
    <p class="info">
        <%= post.time.day %>  晴
    </p>
    <blockquote>
        <%- post.summary %>
    </blockquote>
    <hr >
<% }) %>
<%- include footer %>
