<%- include header %>
<% posts.forEach(function (post, index) { %>
    <h2 class="major">
        <a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">
            <%= post.title %>
        </a>
    </h2>
    <p class="info">
        <%= post.time.day %>  晴
    </p>
    <blockquote>
        <%- post.summary %>
    </blockquote>
    <% if (post.tags) { %>
        标签:
        <% post.tags.forEach(function (tag, index) { %>
            <% if (tag) { %>
                <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
            <% } %>
        <% })%>
    <% } %>
    <hr >
<% }) %>
<%- include footer %>
